<h1 mat-dialog-title>{{isDetail ? 'Account Detail' : 'Add Account'}}</h1>
<mat-dialog-content>
    <form class="login-form" fxFlex>
        <div fxFlex fxlayout="row" fxlayout.lt-md="column">
            <div fxFlexFill>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Username</mat-label>
                    <input [disabled]="isDetail" matInput name="username" [(ngModel)]="account.username">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Phone</mat-label>
                    <input [disabled]="isDetail" matInput name="phone" [(ngModel)]="account.phone">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Email</mat-label>
                    <input [disabled]="isDetail" type="email" matInput name="email" [(ngModel)]="account.email">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Address</mat-label>
                    <input [disabled]="isDetail" matInput name="address" [(ngModel)]="account.address">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Password</mat-label>
                    <input [disabled]="isDetail" matInput type="password" name="password"
                        [(ngModel)]="account.password">
                </mat-form-field>

            </div>
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>

            <button mat-raised-button mat-dialog-close>Cancel</button>
            <ng-template [ngIf]="isDetail||isEdit"><button mat-raised-button color="warn" (click)="onDelete()"
                    [mat-dialog-close]="true">Delete</button></ng-template>
            <ng-template [ngIf]="isDetail||isEdit"><button mat-raised-button color="primary"
                    (click)="onEdit()">Edit</button></ng-template>
            <ng-template [ngIf]="!isDetail&&!isEdit"><button mat-raised-button color="primary" (click)="onAdd()"
                    [mat-dialog-close]="true">Add</button></ng-template>


        </div>
    </div>
</mat-dialog-actions>