<h1 mat-dialog-title>{{isDetail ? 'Main Drink Detail' : 'Add Main Drink'}}</h1>
<mat-dialog-content>
    <form class="login-form" fxFlex>
        <div fxFlex fxlayout="row" fxlayout.lt-md="column">
            <div fxFlexFill>
                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Name</mat-label>
                    <input [disabled]="isDetail" matInput name="name" [(ngModel)]="mainDrink.name">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Price</mat-label>
                    <input [disabled]="isDetail" matInput name="price" [(ngModel)]="mainDrink.price">
                </mat-form-field>

                <mat-form-field appearance="outline" class="w-100">
                    <mat-label>Image</mat-label>
                    <input [disabled]="isDetail" matInput name="image_url" [(ngModel)]="mainDrink.image_url">
                </mat-form-field>

            </div>
        </div>

    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <div fxFlex fxLayout="row" fxLayout.lt-md="column">
        <div fxFlexFill>

            <button mat-raised-button mat-dialog-close>Cancel</button>
            <ng-template [ngIf]="isDetail||isEdit"><button mat-raised-button color="warn" (click)="onDelete()"
                    [mat-dialog-close]="true">Delete</button></ng-template>
            <ng-template [ngIf]="isDetail||isEdit"><button mat-raised-button color="primary"
                    (click)="onEdit()">Edit</button></ng-template>
            <ng-template [ngIf]="!isDetail&&!isEdit"><button mat-raised-button color="primary" (click)="onAdd()"
                    [mat-dialog-close]="true">Add</button></ng-template>


        </div>
    </div>
</mat-dialog-actions>