<div class="mb-20" flFlex flexLayout="row" flexLayout.lt-md="column">
    <div fxFlex>
      <button class="mr-20" mat-icon-button (click)="addDialog()">
        <mat-icon>add_circle_outline</mat-icon>
      </button>
      <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <br />
      <mat-form-field>
          <mat-label>Category Drink</mat-label>
          <mat-select (selectionChange)="onSelect()" [(value)] = "selectedCategoryId" >
            <mat-option *ngFor="let category of categories" [value]="category._id">
              {{category.code}} - {{category.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <ng-container matColumnDef="_id">
          <th mat-header-cell *matHeaderCellDef>ID</th>
          <td mat-cell *matCellDef="let element">{{ element._id }}</td>
        </ng-container>
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Name</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>
        <ng-container matColumnDef="price">
          <th mat-header-cell *matHeaderCellDef mat-sort-header>Price</th>
          <td mat-cell *matCellDef="let element">{{ element.price }}</td>
        </ng-container>
        <ng-container matColumnDef="image_url">
          <th mat-header-cell *matHeaderCellDef>Image</th>
          <td mat-cell *matCellDef="let element">{{ element.image_url }}</td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"(click)="detailDialog(row)" ></tr>
      </table>
      <mat-paginator (page)="pageEvent = getData($event)" [pageSizeOptions]="[10, 20]"></mat-paginator>
    </div>
  </div>