<div id="sidebar">
    <mat-nav-list>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/dashboard']">
            <mat-icon class="sidenav-icon">dashboard</mat-icon> {{ 'Dashboard' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/staff']">
            <mat-icon class="sidenav-icon">people</mat-icon> {{ 'Staff' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/customer']">
            <mat-icon class="sidenav-icon">people_alt</mat-icon> {{ 'Customer' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/category']">
            <mat-icon class="sidenav-icon">restaurant_menu</mat-icon> {{ 'Category' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/main-drink']">
            <mat-icon class="sidenav-icon">local_drink</mat-icon> {{ 'Main Drink' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/topping']">
            <mat-icon class="sidenav-icon">fiber_manual_record</mat-icon> {{ 'Topping' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/order']">
            <mat-icon class="sidenav-icon">shopping_cart</mat-icon> {{ 'Order' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/promotion']">
            <mat-icon class="sidenav-icon">local_atm</mat-icon> {{ 'Promotion' | translate }}
        </a>
        <a mat-list-item [routerLinkActive]="'active'" [routerLink]="['/notification']">
            <mat-icon class="sidenav-icon">notifications</mat-icon> {{ 'Notification' | translate }}
        </a>
    </mat-nav-list>
</div>
